@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
} */
@layer components {
	.title-principal{
		@apply text-colorTitle text-5xl font-bold italic text-left
	}
	
}
@layer components {
	.header-table{
		@apply bg-colorTitle font-bold text-base flex w-full text-colorTextTable p-4 rounded-t-xl
	}
}