video::-webkit-media-controls-fullscreen-button {
	display: none;
}

/* Hide Play button */
video::-webkit-media-controls-play-button {
	display: none;
}

/* Hide time duration */
video::-webkit-media-controls-timeline {
	display: none;
}

/* Hide current time */
video::-webkit-media-controls-current-time-display {
	display: none;
}

/* Hide time remaining */
video::-webkit-media-controls-time-remaining-display {
	display: none;
}

/* Hide mute button */
video::-webkit-media-controls-mute-button {
	display: none;
}

/* Hide captions button */
video::-webkit-media-controls-toggle-closed-captions-button {
	display: none;
}

/* Hide volume slider */
video::-webkit-media-controls-volume-slider {
	display: none;
}

video::-webkit-media-controls-panel {
	display: none;
}

video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-pausebutton {
	display: none;
}

#video-container:-webkit-full-screen {
	--bs-gutter-x: 0;
}

#video-container:fullscreen {
	--bs-gutter-x: 0;
}

#video-container:-webkit-full-screen video {
	height: 100vh;
	width: 100vw;
}

#video-container:fullscreen video {
	height: 100vh;
	width: 100vw;
}

#video-container:-webkit-full-screen #skip-button {
	position: fixed;
	right: 40px;
	bottom: 104px;
	color: #ffffff;
}

#video-container:fullscreen #skip-button {
	position: fixed;
	right: 40px;
	bottom: 104px;
	color: #ffffff;
}